{% extends "base.html" %}

{% block content %}
  <h1>Lista de personal</h1>

  <br>
  <a href="{{ url_for('ingresar_personal') }}"><button type="button" class="btn btn-primary">Ingresar personal</button></a>
  <br><br>
  <!-- crear tabla con lista de personal -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ingreso </th>
        <th scope="col">Egreso</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dni</th>
        <th scope="col">Motivo</th>
      </tr>
    </thead>
    <tbody>
      {% for p in personal %}
      <tr>
        <th scope="row">{{ p[0] }}</th>
        <td>{{ p[5] }}</td>
        <td>{{ p[6] }}</td>
        <td>{{ p[1] }}</td>
        <td>{{ p[2] }}</td>
        <td>{{ p[4] }}</td>
        <td>{{ p[7] }}</td>
        <td></td>
        <td>
          <a href="{{ url_for('index', borrar=p[0]) }}"><span class="badge bg-danger">Eliminar</span></a>
          <a href="{{ url_for('editar_personal', id_empleado=p[0]) }}"><span class="badge bg-secondary">Editar</span></a>
          <a href="{{ url_for('egreso', id_empleado=p[0]) }}"><span class="badge bg-danger">Egreso</span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

